name: "continuous integration"

on:
  pull_request:
  push:
    branches:
      - "master"
      - "renovate/*"

env:
  MIN_MSI: 95.00
  MIN_COVERED_MSI: 98.00

jobs:
  phpunit-tests:
    name: "phpunit tests"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies:
          - "lowest"
          - "highest"
          - "locked"
        php-version:
          - "8.2"
          - "8.3"
          - "8.4"
        operating-system:
          - "ubuntu-latest"
    steps:
      - name: "checkout"
        uses: "actions/checkout@v4"

      - name: "install php"
        uses: "shivammathur/setup-php@2.31.1"
        with:
          coverage: "pcov"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1, zend.assertions=1
          tools: composer:v2, cs2pr

      - name: "install dependencies"
        uses: "ramsey/composer-install@3.0.0"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "tests"
        run: "vendor/bin/phpunit --coverage-clover coverage.xml"

      - name: "upload to codecov"
        uses: codecov/codecov-action@v5

  mutation-tests:
    name: "mutation tests"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies:
          - "locked"
        php-version:
          - "8.4"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "checkout"
        uses: "actions/checkout@v4"

      - name: "install php"
        uses: "shivammathur/setup-php@2.31.1"
        with:
          coverage: "xdebug"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1, zend.assertions=1

      - name: "install dependencies"
        uses: "ramsey/composer-install@3.0.0"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "infection"
        run: "./vendor/bin/infection -j$(nproc) --logger-github --min-msi=$MIN_MSI --min-covered-msi=$MIN_COVERED_MSI --test-framework-options='--testsuite=unit'"
        env:
          INFECTION_BADGE_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

  static-analysis-phpstan:
    name: "static analysis phpstan"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies:
          - "locked"
        php-version:
          - "8.4"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "checkout"
        uses: "actions/checkout@v4"

      - name: "install PHP"
        uses: "shivammathur/setup-php@2.31.1"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: cs2pr

      - name: "install dependencies"
        uses: "ramsey/composer-install@3.0.0"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "phpstan"
        run: "vendor/bin/phpstan analyse --memory-limit=-1 --error-format=checkstyle | cs2pr"

  coding-standards:
    name: "php cs fixer"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies:
          - "locked"
        php-version:
          - "8.4"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "checkout"
        uses: "actions/checkout@v4"

      - name: "install PHP"
        uses: "shivammathur/setup-php@2.31.1"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr, php-cs-fixer

      - name: "install dependencies"
        uses: "ramsey/composer-install@3.0.0"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "php cs fixer dry run"
        env:
          PHP_CS_FIXER_IGNORE_ENV: 1
        run: "php-cs-fixer fix --dry-run --format=checkstyle | cs2pr"

  markdownlint:
    runs-on: "ubuntu-latest"
    name: markdown lint

    steps:
      - name: "checkout"
        uses: "actions/checkout@v4"

      - name: "markdown lint"
        uses: "bewuethr/mdl-action@v1"
        with:
          style-file: ".mdl_style.rb"